.articlewrap {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.open .articlewrap {
  max-height: 10000px;
}

.sectionhead {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}