.container {
}

.recipe {
	margin: 20px;
	border: 1px solid black;
}

.recipeForm {
	width: 500px;
}

.ingredientsSection {
	position: relative;
}

.suggestionsList {
	z-index: 100;
	position: absolute;
	top: 34px;
	left: 0;
	width: 100%;
}

.suggestionsList .suggestion {
	border-color: #CCC;
	border-width: 0 1px 0 1px;
	border-radius: 0px;
	box-shadow: none;
	background: solid #FFF;
	width: 100%;
}

.suggestionsList .suggestion:last-of-type {
	border-bottom: 1px solid #CCC;
}

.suggestionsList .suggestion:hover {
	background-color: lightgray;
}


