* {
	font-family: 'Open Sans', sans-serif !important;
}

body {
	background: url(img/beer.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container {
	background-color: #FFF;
	width: 800px;
	max-height: 800px;
	margin: 50px auto;
	border-radius: 25px;
	overflow: auto;
	scrollbar: auto;
}

.container::-webkit-scrollbar {
    display: none;
}

#show-recipe-form {
	font-size: 20px;
	margin: 18px auto;
	width: 350px;
	display: block;
}


#app-title, .section-heading {
	text-align: center;
}

#recipe-form {
	margin: 0 auto;
	width: 350px;
}

#recipe-form label {
	display: table-caption;
}

#create-recipe-button {
	display: block;
	margin: 20px auto 0;
}

.recipe {
	width: 500px;
	padding: 0 18px;
	text-align: left;
	background-color: #CCC;
	margin: 10px auto;
	border-radius: 10px;
}

.recipe .sectionhead {
	height: 40px;
	line-height: 40px;
}

.recipe-title {
	font-size: 20px;
}

.recipe-description {
	font-size: 18px;
}

.ingredients-title {
	font-weight: bold;
	margin-bottom: 2px;
}

#ingredients-section {
	position: relative;
}

.suggestionsList {
	width: 100%;
}

.suggestionsList .suggestion {
	border-color: #CCC;
	border-width: 0 1px 0 1px;
	border-radius: 0px;
	box-shadow: none;
	background: solid #FFF;
	width: 100%;
}

.suggestionsList .suggestion:last-of-type {
	border-bottom: 1px solid #CCC;
}

.suggestionsList .suggestion:hover {
	background-color: lightgray;
}


